.tables{
    padding:25px;
    padding-left: 30px;
    
}




table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background: #01384D;
   }
  .tbl-content{
    /* height:300px; */
    overflow-x:auto;
    margin-top: 0px;
    color: black;
    /* border-bottom: solid 1px rgb(27, 14, 14); */
    border: 1px solid rgb(31, 11, 11);
    border-bottom: none;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    
/* opacity: 0.3; */
/* 1 */

border-bottom: 1px solid #01384D;
    color: black;
    
    
  }
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    /* background-color: white; */
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  

  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }


  
  .tr{
    border: 1px solid #01384D;
box-sizing: border-box;
border-bottom: 1px solid #01384D; 
/* background-color: red; */

}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 46px;
	height: 25px;
	background: #c2b1d3;
/* opacity: 0.2; */
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 5px;
	width: 20px;
	height: 22px;
	background: white;
/* opacity: 0.2; */

	border-radius: 100px;
	transition: 0.3s;
}

input:checked + label {
	

  background: #b8e0b9;
  /* opacity: 0.2; */
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
  background-color:#12AF18;
}

label:active:after {
	width: 40px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}