* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.login {
    padding: 50px;
    height: 100vh;
    /* width: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 330px;
    /* height: 332px; */
    opacity: 0.8;
    padding: 50px 30px;
    border: 1px solid #01384D;
    border-radius: 10px;
}

.login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;


}

.login-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 25px 0px;
    margin-top: 0px;
    color: #01384D;

}

.form-login,
.form-password{
    background: #FFFFFF;
    opacity: 0.5;
    width: 270px;
    padding: 12px 10px;
    padding-left: 36px;
    border: 1px solid #01384D;
    border-radius: 7px;
    margin: 8px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* 1 */

    color: #01384D;

}
/* .form-login .error-input,
.form-password .error-input{
    background: #FFFFFF;
    opacity: 0.5;
    width: 270px;
    padding: 12px 10px;
    padding-left: 36px;
    border: 1px solid red;
    border-radius: 7px;
    margin: 8px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #01384D;
} */

.form-label {
    position: relative;
}

.form-account,
.form-lock {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 13px;

}


.form-btn {
    margin-top: 27px;
    background: #01384D;
    opacity: 0.5;
    border-radius: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    width: 270px;
    padding: 12px 10px;
    border: none;

    color: #FFFFFF;
}

.button {
    background: rgb(14, 7, 43);

}

/* .error-input {
    border: 1px solid red;
} */

.btn-submit{
    background: rgb(1, 1, 138);
    color: white;
}


